* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #f8f8f8;
  color: #706f6f;
}

h1 {
  font-size: 36px;
}

h1,
h2,
h3 {
  color: #3b3838;
}

.section-title h2 {
  color: #3b3838;
  font-family: "Crimson Text", serif;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

/* animation */
@keyframes spreadOut {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1.5);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

header {
  background: linear-gradient(rgb(52, 152, 219, 0.5), rgb(52, 152, 219, 0.5)),
    url("./../images/background-alt.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}

/* Nav */

.navbar {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  background: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/* Color of Nav links and nav bars at top */
nav .nav-links,
nav #navbar-toggle .fa-bars {
  color: #f8f8f8;
  text-transform: uppercase;
}

.nav-links:hover {
  border-bottom: medium solid #f8f8f8;
}

/* Change color for nav links and nav bars after */
/* scrolling past top section */
nav.scrolled .nav-links,
nav.scrolled #navbar-toggle .fa-bars {
  color: #0f0f0f;
}

nav.scrolled .nav-links:hover,
.socialLinks li a:hover {
  border-bottom: medium solid #0f0f0f;
}

/* Nav for mobile */

.nav-links,
#logo {
  text-decoration: none;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
}

#main-nav li:hover {
  color: rgba(85, 172, 238, 1);
}

#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#main-nav {
  list-style-type: none;
  flex-direction: column;
  color: #9d9d9d;
}

#main-nav .showNav {
  display: flex;
}

#main-nav li:hover {
  color: #f9f9f9;
}

/* Nav for Desktop */
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 50px;
    align-items: center;
  }
  #main-nav {
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    background-color: transparent;
  }

  #main-nav li {
    margin: 0;
    cursor: pointer;
  }

  #logo {
    margin-top: 0;
  }
  #navbar-toggle {
    display: none;
  }
  #logo img:hover {
    color: #f2f2f2;
  }
}

/* Home Section */

.home {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  text-align: center;
}

.title-container h1,
.title-container h2 {
  color: #f8f8f8;
}

.title-container .title-divider {
  background-color: #f8f8f8;
}

.welcome-title {
  font-family: "Playfair Display", serif;
  font-size: 10vw;
  margin-bottom: 30px;
}
.welcome-subtitle {
  font-size: 30px;
  font-family: "Crimson Text", serif;
  padding-top: 30px;
  animation: fadeInUp 3s 0.5s both;
}

.title-logo {
  padding-bottom: 70px;
  animation: fadeInUp 3s 0.5s both;
}

.title-divider {
  background-color: rgb(52, 152, 219);
  height: 2px;
  animation: spreadOut 1s 0.5s both;
}

/* Home for Desktop */
@media screen and (min-width: 768px) {
  .welcome-title {
    font-size: 6vw;
  }
}

/* About Section */

#about {
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  background-color: #f8f8f8;
  color: #706f6f;
}
.about-intro {
  font-family: "Crimson Text", serif;
}
.about-intro h1 {
  color: #3b3838;
}

.about-intro p {
  font-size: 25px;
}

.portrait {
  border: 2px solid darkgray;
  border-radius: 50%;
  height: 200px;
}

.mainDivider {
  animation: spreadOut 1s 0.5s both;
  height: 2px;
  background-color: rgb(52, 152, 219);
  margin: 50px 0;
}

.aboutContainer {
  margin: 46px;
}

.aboutHeader {
  display: flex;
  justify-content: center;
}

.aboutHeader div {
  flex: 1 2 20%;
}

.aboutHeader .about-intro {
  flex: 1 0 60%;
}

.aboutContent {
  display: flex;
  flex-wrap: wrap;
}

.aboutContent div {
  flex: 1;
  padding: 5px;
  margin: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  align-content: center;
  padding: 0 30px;
}

.aboutHeader {
  text-align: center;
}
.servicesSection {
  padding: 60px 0;
}
.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.services-title {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
}

.border {
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serviceBox {
  flex: 1 1 33.33%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.serviceIcon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #82ccdd;
  transform: rotate(45deg);
  margin: 16px 0 30px 0;
  transition: 0.3s linear;
}

.serviceIcon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}

.serviceBox:hover .serviceIcon {
  background: #82ccdd;
  color: #ddd;
}

.serviceTitle {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.serviceDesc {
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  .serviceBox {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 600px) {
  .serviceBox {
    flex: 1 1 100%;
  }
}

/* Project Section */

#projects,
#services {
  padding-top: 80px;
}

.projectContainer {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projectContainer div {
  border-color: white;
}

.iLink {
  color: rgb(52, 152, 219);
}

.iLink:hover,
.contactIcon:hover {
  transform: scale(1.2);
}

.fa-laptop {
  padding: 20px 0 50px;
}

.projectHeader {
  margin: 60px 0;
  text-align: center;
}

.projectContentRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

.projectContentRow div {
  flex: 1 1 200px;
}

.projectImage {
  text-align: center;
}

.projectImage img {
  max-width: 90%;
  height: auto;
}

.projectDescription {
  text-align: center;
  margin: auto;
  width: 50%;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}

.projectTech {
  padding: 30px 0;
  color: #3b3838;
}

.projectTechIcons i {
  padding: 0 5px;
}

/* Project Section for Desktop */
@media screen and (min-width: 768px) {
  .projectRowReverse {
    flex-direction: row-reverse;
  }
}

hr {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* Contact Section */

.contactContainer {
  display: flex;
  flex-direction: column;
  color: #16193b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.contactBorder {
  flex: 1 1 110px;
  background-color: rgb(52, 152, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.contactIcon {
  width: 40px;
  height: auto;
  margin: 0 8px;
}

.emailMe {
  margin: 30px 0;
  color: #000;
  font-size: 2em;
}

.contactMe {
  font-size: 16px;
  padding: 5px;
  text-transform: uppercase;
  padding: 20px 20px;
  background-color: rgb(52, 152, 219);
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  transition-duration: 0.4s;
  margin: 50px 0;
  cursor: pointer;
  transition-duration: 0.4s;
}

.contactMe:hover {
  background-color: #fff;
  color: rgb(52, 152, 219);
  border: 2px solid rgb(52, 152, 219);
}

.contactMe > span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-envelope {
  margin: 0 10px;
}

.contactContents {
  flex: 1 1 400px;
  background-image: url(./../images/map.png);
  background-repeat: no-repeat;
  max-width: inherit;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialButtons {
  display: flex;
  flex: 10px;
  justify-content: center;
  padding-top: 20px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgb(52, 152, 219);
  margin: 10px;
  border-radius: 50%;
  color: #f1f1f1;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.social-btn i {
  font-size: 15px;
  transition: 0.2s linear;
}

.social-btn:hover i {
  transform: scale(1.3);
  color: rgb(52, 152, 219);
}

.social-btn:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #f1f1f1;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.social-btn:hover::before {
  animation: colorSwipe 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes colorSwipe {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

/* Footer */

.footerContainer {
  height: 60px;
  padding-left: 20px;
  background-color: rgb(52, 152, 219);
  color: #f8f8f8;
  display: flex;
  align-content: center;
}

.footerContainer div {
  padding: 20px 0;
}
